@a1-red: #cf6565; /* #CF6467 */
@a1-white: #ffffff;
@a1-yel: #F0C236;
@a1-gr: #646560;
@a1-grtr: rgba(146, 145, 144, 0.64);
@al-whitre: rgba(255,255,255,.75);
@a1-font1: "Arial Narrow";
@a1-font2: 'Dosis', sans-serif;
h1.entry-title { display:none;}

body {font-family: 'Dosis', sans-serif;}
h1, h2, h3, h4, h5, h6 { font-family: @a1-font2; font-weight: 200 !important; }
a, #site-header-menu ul li a {font-family: @a1-font1;}
p {font-family: @a1-font1;}
a { box-shadow: 0 0px 0 0 currentColor !important;}
input[type="reset"]:hover, a:hover {background:@a1-yel;}
ul { list-style: none; }
input.button {
  background: @a1-red;
  border: 1px solid @a1-white;
  font-size: 1em;
  letter-spacing: 1px;
  font-family: 'Dosis', sans-serif;
  font-weight: 200 !important;
  border-radius: 5px;
}
.widget { border-top: 2px solid #ccc; }
.site {
  background-color: @a1-white !important;

    .site-inner {
      margin: 0;
      max-width: 100% !important;
      h1 {font-size:3em; }
      h2 {font-size:2.75em; }
      h3 {font-size:2.25em; }
      h4 {font-size:2em;margin-top:.3em;margin-bottom: .6em; }
      h5 {font-size:1.75em; }
      p {font-family: SansSerif;}

      /* Page Content */
      div#content {
        z-index: -1;
        width: 100%;

        .entry-content {

          .full-width-block {
            width: 100%;
            min-height: 350px;
            display: inline-block;
          }
          ul.a1-columns.splash {
            margin-left: 15%;
            width: 90% !important;
            list-style-type: none;
          }
          .splash {
            .dashicons {
            font-size: 4em;
            margin: 0em 1em 1em 1em;
            }
            a {
              color: @a1-red;
              font-size: 1em;
              letter-spacing: 1px;
              font-family: 'Dosis', sans-serif;
              font-weight: 200 !important;
            }
            li {
              font-size: 1.1em;
              float:left;
              .inli {
                position: relative;
                top: -55px;
                margin-left: 10px;

                input.button {
                  margin: 4% 0%;
                }
              }
            }
            li::before {
              font-family: dashicons;
              font-size: 3em;
              top: 40px;
              left: -10px;
              margin-left: -75px;
              position: relative;
              border: 1px solid;
              padding: 10px;
              color: @a1-gr;
            }
            li.a1one::before {  content: "\f115"; }
            li.a1two::before {  content: "\f319"; }
            li.a1three::before {  content: "\f487"; }
          }
          .full-color-box {
            float:left;
            width:100%;
            margin:0px;
            padding: 2em .6em;
            text-align: center;
            background-color:@a1-red;

            h3 { margin-top: 0px; }
          }

          .mem-col {
            a.title {
              letter-spacing: 0.046875em;
              line-height: 1.3125;
              margin: 0 0 1.75em;
              text-transform: uppercase;
              font-family: Montserrat, "Helvetica Neue", sans-serif;
              font-size: 2.2em;
            }
          }
        }

        aside#secondary {
          margin-top: 3em;
          h2.widget-title {
            font-family: 'Dios', Sans-serif !important;
            margin-bottom: .5em !important;
          }
          section ol li h4 a {
            text-transform: lowercase;
          }
        }
      }
      .a1newsbox {
        width:100%;
        float:left;
        padding:0;
        margin:0;

        .innews {
          width:50%;
          float:left;
          padding: 1.6em;

          h1, h2 {  color: @a1-gr; border-bottom: 1px solid; margin-bottom: .6em;
            a {
              font-family: 'Dosis', sans-serif;
              font-weight: 200 !important;
              color: @a1-gr;
            }
          }
          h4 { margin-top: 0em; margin-bottom: .5em; }
          ul.ecs-event-list {
            margin: 0;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 0px;

            li.ecs-event {
              width: 120%;
              display: block;
              clear: both;

              img.attachment-150x150.size-150x150.wp-post-image {
                height: 150px;
                margin-right: 2%;
                float: left;
                clear: none;
                border-radius: 5px;
              }

              a {
                float: left;
                width: 24%;
                height: 80%;
                margin-right: 2%;
              }
              .duration {
                float: left;
                width: 12%;
                margin-right: 2%;
                color: #8E8C8C;
                font-size: .8em;
                text-align: center;
                font-family: 'Dosis', sans-serif;
                margin-top: 30px;
                clear: none;

              }
              h4.entry-title {
                float: left;
                display: inline !important;
                /* margin: 0 1%; */
                font-size: 1.8em;
                width: 50%;
                min-height: 1.3em;
                text-transform: lowercase;
                clear: none;

                a {
                  float: left;
                  width: 100%;
                  line-height: 1.3125;
                }
              }
              p.ecs-excerpt {
                float: left;
                width: 50%;
                min-height: 105px;
                display: inline;
                clear: none;
                color: @a1-gr;
              }
            }
          }
          .entry {
            margin-bottom: 1.5em;

            img.attachment-thumbnail.size-thumbnail.wp-post-image {
              float: left;
              margin-right: 5%;
              border-radius: 5px;
            }
            h4 {
              float: left;
              display: inline;
              clear: none;
              width: 60%;
              a {
                font-family: 'Arial Narrow';
                font-size: .9em;
                text-transform: lowercase;
                line-height: 1em;
                float: left;
                color: #000;
              }
            }
            p {
              float: left;
              display: inline;
              clear: none;
              width: 60%;
              color: @a1-gr;
              min-height: 112px;
            }
          }
        }
      }
      .programs#programs {
        background: url(https://c5.staticflickr.com/8/7269/26724227092_1fac61a408_b.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 0 16%;
        margin: 0 -5%;
        display: inline-flex;
        width: 110%;

        h2.pr-top {
          color: #fff;
          text-align: left;
          border-bottom: 1px solid;
          width: 94%;
          margin-bottom: 1em;
          margin-top: .3em;
        }
        ul {
          list-style-type: none;
          width:100%;

          li {
            float:left;
            padding: 0 1.6em;
            width: 50%;

            a {
              display: block;
              width: 14em;

              div.ind-programs {
                padding: 1.5em 2.5em;
                max-height: 16.7em;

                .icons {
                  font-family: dashicons !important;
                  font-size: 120px;
                  height: 75px;
                  width: 75px;
                  color: #fff;
                  margin: 0 15px 50px;
                }
              }
              div.ind-programs:hover {
                background-color: @a1-yel;
              }
              h2 {
                margin: 0 0em 0em .5em;
                width: 6em;
                color: @a1-white;
                font-size: 1.3em;
                letter-spacing: 1px;
                font-family: 'Dosis', sans-serif;
                font-weight: 200 !important;
                text-transform: uppercase;
                text-align: center;
              }
              img {
                width: 150px;
                height: 150px;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .stayintouch {
        float:left;
        width: 100%;
        padding: 1.6em;
        text-align:center;

        #mc_embed_signup .clear {
          height: 2.5em;
          text-align: center;
          margin-left: -40px;

           .button {
            clear: both;
            border: 0 none;
            border-radius: 4px;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            height: 3em;
            line-height: 20px;
            margin: 0 5px 10px 0;
            text-align: center;
            text-decoration: none;
            vertical-align: top;
            white-space: nowrap;
            width: auto;
             background: @a1-red;
          }
        }
      }
      footer#colophon {
        background: @a1-red;

        .site-info {
          padding-left: 14%;

          .site-title {
            font-family: @a1-font1;
            color: @a1-white;
            font-size: 16px;

            a {
              color: @a1-white;
              text-transform: uppercase;

              span.dashicons.dashicons-facebook {
                font-size: 2em;
                position: relative;
                /*top: 25px;*/
              }
            }
            a.one {
              margin-right: 20px;
              padding-right: 20px;
              border-right: 1px solid #fff;
            }
            a.two {
              margin-right: 20px;
              padding-right: 20px;
              border-right: 1px solid #fff;
            }
            a.three {
              margin-right: 20px;
            }
          }
          .site-title:after {
            display: none;
          }
          img.grassroots {
            height: 40px;
          }
        }
      }
      /* Header */
      header#masthead {
        z-index: 1;
        padding: 0 1em;

        .site-header-main {
          margin-top: 5px;

          .site-branding {
            margin: 0px 0 0px;
            padding: 10px;

            .easylogo {
              margin-top: 0 !important;
              margin-bottom: 0 !important;

              img {
                height: 120px;
              }
            }
            p.site-title {
              display: none;
            }
            p.site-description {
              display: none;
            }
          }
          .site-header-menu {
            ul li a {
              color: #747171;
              text-transform: uppercase !important;
            }

            .tip-top-menu {
              float: left;
              display: block;
              width: 100%;
              border-bottom: 2px solid #ccc;

              .menu-tip-top-menu-container {
                float: left;
                max-width: 50%;
                display: block;
              }
              .search-form {
                float: right;
                max-width: 50%;
                display: block;
                margin-right: .4em;
              }

              nav#site-navigation {
                float: left;
              }
            }
            .menu-top-menu-container ul#menu-top-menu {
              margin-top: 65px;
            }
          }
        }
      }
    }
}
.site-main > article {
  margin-bottom: 2.0em;
}/* home page only */
.home.page-id-10 {

  header#masthead {
    position: absolute;
  }
  .entry-header h2.entry-title {
    display: none;
  }
  img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    display: none;
  }
  .entry-content {
    padding-top: 0em !important;

    h2 { margin-bottom: .3em; margin-top: .3em; }
    h6 { margin-top: 1.3em; margin-bottom: 1.6em; }
  }
  .entry-content:after {display:none;}
  .site-footer {
    padding: 0 7.6923% 1.75em;
    margin: -3.5em 0 0 0;
  }
} /* calendar page only */
article#post-0 .entry-content {
  margin-left: 1%;
  h1, h2, h3, h4, a.tribe-event-url {
    font-family: 'Dosis', sans-serif;
    font-weight: 200 !important;
  }
}
.flickr-embed .flickr-embed-photo .branding svg {
  fill: white;
  stroke: black;
  stroke-width: 0.2;
  display: none;
}/* post - news and reviews */
.tribe_events .entry-header .entry-title a, .post .entry-header .entry-title a {
  font-family: 'Dosis',sans-serif;
}
article.tribe_events { margin-top: 3em; }
.entry-summary {  font-style: italic; }
.no-sidebar .post-thumbnail img { max-width: 71%; }
/* posts only */
article.type-post img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  width: 71%;
}
/* Media Queries */
/****************** Small screen 56.874em *************************/
@media screen and (max-width: 909px) {
  .a1-slide-show {
    ul.rslides {
      li .caption-wrap {
        display: none;
      }
    }
    a.rslides_nav.rslides1_nav.prev, a.rslides_nav.rslides1_nav.next {
      display: none;
    }
  }
  div#content {
    .entry-content {
      ul.a1-columns.splash {
        margin-left: 21% !important;
      }
      ul.a1-columns {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding:0;
        margin: 0 5% 0 5%;

        li {
        }
      }
    }
  }
  .innews {
    width: 95% !important;
    padding-left: 3em !important;
    /* Events */
    ul.ecs-event-list {
      li.ecs-event {
        margin-bottom: 6em !important;
        width: 100% !important;
        height: 200px;

        img.attachment-150x150.size-150x150.wp-post-image {
          width: 100px;
          height: auto !important;
          margin-bottom: 10px;
        }
        .duration {
          min-height: 70px;
          width: 55% !important;
          margin-top: 14px !important;
        }
        span.duration.time:first-line {
          font-family: 'Dosis', sans-serif;
          font-size: 2.6em;
          font-weight: 200 !important;
        }
        h4.entry-title {
          width: 100% !important;

          a {
            width: 110% !important;
          }
        }
        p.ecs-excerpt {
          width: 100% !important;
          min-height: 150px;
        }
      }
    }
    /* News and Reviews */
    .entry {
      margin-bottom: 10em !important;
      height: 125px;

      img.attachment-thumbnail.size-thumbnail.wp-post-image {
        float: left;
        margin-right: 2%;
        width: 100px;
      }
      h4 {
        width: 50% !important;

        a {
          line-height: 1.3 !important;
        }
      }
      p { width: 100% !important;margin-top: 1em; }
    }
  }
  .stayintouch {
    min-height: 40em !important;
  }
  .programs#programs ul li {
    float: left;
    padding: 0 1em 0 0;
    margin-left: -.5em;
    width: 100% !important;
  }
  footer#colophon .site-info .site-title a span.dashicons.dashicons-facebook {
    top: -5px !important;
  }
  header#masthead {
    margin-left: .5%;
    width: 100%;
    .site-header-main {
      .site-branding h2.easylogo a span img {
        background: #fff;
        border: 3px solid #fff;
      }
      button#menu-toggle {
        background-color: @a1-gr;
        position: absolute;
        border: 3px solid #fff;
        right: 4em;
        color: #fff !important;
        top: 1em;
      }
      div#site-header-menu {
        background-color: #fff;
        border: 2px solid #D1D1D1;

        .tip-top-menu {
          border-bottom: 0px !important;

          .menu-tip-top-menu-container {
            max-width: 100%;

            ul#menu-tip-top-menu {
              li#menu-item-213 {
                padding-top: 15px;
              }
            }
          }
          form.search-form {
            display: none !important;
          }
        }
        nav#site-navigation {
          ul#menu-top-menu {
            li { padding-left: 20px; }

          }
        }
      }
    }
  }
}
/* Medium screen 56.875em  68.5624em */
@media screen and (min-width: 910px) and (max-width: 1096px) {
  .a1-slide-show {
    border-top: 5px solid @a1-red;
    margin-right: -5% !important;
    margin-left: -5% !important;

    ul.rslides {
      z-index: -1;

      li .caption-wrap {
        height: 70%;
        width: 30%;
        margin-left: 60%;
        background: #646464;
        padding: 1em;

        .caption {
          font-size: 2.3em;
          line-height: 1.3;
          font-family: @a1-font2;
          font-weight: 300;

        }
      }
    }
    ul.rslides_tabs.rslides1_tabs {
      position: relative;
      top: -3em;
      z-index: 1;
      background-color: transparent;
      border-bottom: 1px solid #fff !important;
      width: 80%;
      margin-left: 10% !important;

      li {
        position: relative;
        right: -13em;

        a.rslides1_s1 {
          box-shadow: 0 0px 0 0 currentColor;
        }
      }
    }
  }
  div#content {
    .entry-content {
      ul.a1-columns {
        padding: 0px 0 12% 0;
        margin: 0 9% 0 9%;

        li {
          width: 28%;
          padding-right: 10%;
        }
      }
    }
    .innews {
      width: 90% !important;
      padding-left: 3em !important;

      ul.ecs-event-list {
        li.ecs-event {
          margin-bottom: 6em !important;
          width: 100%;
          height: 125px;
          clear: both;
          display: block;

          .duration { margin-top: 10px !important;min-height: 150px; }
          h4.entry-title {
            width: 35% !important;
            font-size: 1.8em;
          }
          p.ecs-excerpt {
            width: 45%
          }
        }
      }
      .entry {
        width: 100%;
        height: 125px;
        margin-bottom: 6em !important;

        img.attachment-thumbnail.size-thumbnail.wp-post-image {
          float: left;
          margin-right: 2%;
        }
        h4, p { width: 47%; }
      }
    }
  }

  header#masthead {
    margin-left: 9%;

    .site-branding {
      border-right: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      border-left: 2px solid #ccc;
    }
    .site-header-main {
      padding: 0 0px 0px 0px;
      background-color: @al-whitre;

      .site-branding {
        border-right: 2px solid #ccc;
      }
      .site-header-menu {
        margin: 0em 0em 0em 0em;
        border-bottom: 2px solid #ccc;
        border-right: 2px solid #ccc;
        padding: .8em 0 0;
        /*margin: .5em 0em 0em 0em;*/
        /*width: 80%;*/

        .main-navigation {
          margin: 20px 0em;
        }

        ul#menu-tip-top-menu {
          list-style-type: none;
          margin: 0 0 .25em 0em;
          padding: .2em 0 1em 1em;

        }

      }
    }
  }
  .page-id-10.no-sidebar {
    .entry-header, .entry-content, .entry-summary, .entry-footer, .comments-area,  .image-navigation, .post-navigation, .pagination, .page-header, .page-content, .content-bottom-widgets {
      margin-right: -5% !important;
      margin-left: -5% !important;
    }
  }
  /* pages besides home */
  .page-id-8, .page-id-2, .page-id-52, .page-id-47 {
    h1, h2, h3, h4, h5, h6 {
      margin-top: .4347826087em !important;
      margin-bottom: .2173913043em !important;
    }
  }
}
/* Big screen 68.5625em */
@media screen and (min-width: 1097px) {
  .a1-slide-show {
    border-top: 5px solid @a1-red;
    margin-right: -5% !important;
    margin-left: -5% !important;

    ul.rslides {
      z-index: 1;

      li .caption-wrap {
        height: 70%;
        width: 30%;
        margin-left: 60%;
        background: #646464;
        padding: 2em 2.3em 0em 2.3em;

        .caption {
          font-size: 3em;
          line-height: 1.3;
          font-family: @a1-font2;
          font-weight: 300;
        }
      }
    }
    ul.rslides_tabs.rslides1_tabs {
      position: relative;
      top: -3em;
      z-index: 1;
      background-color: transparent;
      border-bottom: 1px solid #fff !important;
      width: 80%;
      margin-left: 10% !important;

      li {
        position: relative;
        right: -19em;

        a {
          box-shadow: 0 0px 0 0 currentColor;
        }
      }
    }
  }
  div#content {
    .entry-content {

      ul.a1-columns {
        padding: 0px 0 12% 0;
        margin: 0 9% 0 9%;

        li {
          width: 29%;
        }
      }
    }
    .programs#programs ul li a {
      margin-left: 2em;
    }
    .stayintouch {
      padding: 3em 15em !important;
    }
  }

  header#masthead {
    margin-left: 18%;

    .site-branding {
      border-right: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
      border-left: 2px solid #ccc;
    }

    .site-header-main {
      padding: 0 0px 0px 0px;
      background-color: @al-whitre;

      .site-header-menu {
        margin: 0em 0em 0em 0em;
        border-bottom: 2px solid #ccc;
        border-right: 2px solid #ccc;
        padding: .8em 0 0;

        .main-navigation {
          margin: 20px 0em;
        }

        ul#menu-tip-top-menu {
          list-style-type: none;
          margin: 0 0 .25em 0em;
          padding: .2em 0 1em 1em;
        }
      }
    }
  }
  .page-id-10.no-sidebar {
    .entry-header, .entry-content, .entry-summary, .entry-footer, .comments-area,  .image-navigation, .post-navigation, .pagination, .page-header, .page-content, .content-bottom-widgets {
      margin-right: -5% !important;
      margin-left: -5% !important;
    }
  }
  /* pages besides home */
  .page-id-8, .page-id-2, .page-id-52, .page-id-47 {
    h1, h2, h3, h4, h5, h6 {
      margin-top: .4347826087em !important;
      margin-bottom: .2173913043em !important;
    }
  }
}
